<div class="banner">
    <div class="container">
        <div class="banner-info text-center">
            <h2>Nearest events</h2>
            {{#unless events}}
                <button class="btn btn-default" onclick="getLocation()">Get nearest event (you must allow location sharing)</button>
            {{/unless}}

            {{#unless user}}
                <p>To push an event, please sign in with Facebook</p>
            {{/unless}}

            {{#if user}}
                {{#if events}}
                <div class="details">
                    <form method="POST" action="/event/create" role="form">
                        <li>
                            <input type="text" class="text" name="sport" value="Sport" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'sport';}">
                        </li>
                        <li>
                            <input type="text" class="text" name="description" value="Description" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'description';}">
                        </li>
                        <input type="hidden" name="latitude" value="{{pos.lat}}">
                        <input type="hidden" name="longitude" value="{{pos.lon}}">
                        <input type="hidden" name="creator" value="{{user.id}}">
                        <input type="submit" value="Post event">
                    </form>
                </div>
                {{else}}
                    <p>To push an event, please share your location</p>
                {{/if}}
            {{/if}}

            {{#each events}}
                <div class="card-container">
                    <ul class="screen">
                        <li class="toolbar">
                            <div style="float: left">
                                <h1>{{this.sport}}</h1>
                            </div>
                            <div class="heart">
                                <a href="/event/show?id={{this.id}}"><img src="http://images.chesscomfiles.com/images/hp-gt.png"></a>
                            </div>
                        </li>
                        <br>
                        {{this.description}}<br><br>
                        <div style="float: right">Created by:  <img src="//graph.facebook.com/{{this.creator.facebookId}}/picture" width="25px"> {{this.creator.name}}</div>
                    </ul>
                </div>
            {{/each}}

        </div>
    </div>
</div>